<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940728905080-pnsb95f4ku4pfsdqkisr9036e2tdv7am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940728905080-pnsb95f4ku4pfsdqkisr9036e2tdv7am</string>
	<key>API_KEY</key>
	<string>AIzaSyBKsK64FhHpbtQKN7mB_zjxyJA6p0d0meY</string>
	<key>GCM_SENDER_ID</key>
	<string>940728905080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eventry.eventry</string>
	<key>PROJECT_ID</key>
	<string>eventryapp-43875</string>
	<key>STORAGE_BUCKET</key>
	<string>eventryapp-43875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940728905080:ios:7505b360a6b0212d1aac8d</string>
</dict>
</plist>